# Python

This notebook will go through the following topics as a crash course for Python:
* Data types
  * Numbers
  * Strings
  * Printing
  * Lists
  * Dictionaries
  * Booleans
  * Tuples
  * Sets
* Comparison operators
* if, elif, else statements
* for loops
* while loops
* range()
* List comprehension
* Functions
* Lambda expressions
* Map and filter
* Methods

## Data types
### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable assignment

In [8]:
# Cannot start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [21]:
[1, 2, 3]

[1, 2, 3]

In [22]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [23]:
my_list = ['a', 'b', 'c']

In [24]:
my_list.append('d')

In [25]:
my_list

['a', 'b', 'c', 'd']

In [26]:
my_list[0]

'a'

In [27]:
my_list[1]

'b'

In [28]:
my_list[1:]

['b', 'c', 'd']

In [29]:
my_list[:1]

['a']

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 'b', 'c', 'd']

In [32]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [33]:
nest[3]

[4, 5, ['target']]

In [34]:
nest[3][2]

['target']

In [35]:
nest[3][2][0]

'target'

### Dictionaries

In [36]:
d = {'key1':'item1','key2':'item2'}

In [37]:
d

{'key1': 'item1', 'key2': 'item2'}

In [38]:
d['key1']

'item1'

### Booleans

In [39]:
True

True

In [40]:
False

False

### Tuples

In [41]:
t = (1, 2, 3)

In [42]:
t[0]

1

In [43]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [44]:
{1, 2, 3}

{1, 2, 3}

In [45]:
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

{1, 2, 3}

## Comparison operators

In [46]:
1 > 2

False

In [47]:
1 < 2

True

In [48]:
1 >= 1

True

In [49]:
1 <= 4

True

In [50]:
1 == 1

True

In [51]:
'hi' == 'bye'

False

## Logic operators

In [52]:
(1 > 2) and (2 < 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if, elif, else statements

In [55]:
if 1 < 2:
    print('Yep!')

Yep!

In [56]:
if 1 < 2:
    print('yep!')

yep!

In [57]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [58]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [59]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for loops