# Stock market analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/home/yungshun/.virtualenvs/yungshun-py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/yungshun/.virtualenvs/yungshun-py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## Get the data
### Tesla stock (ticker: TSLA on the NASDAQ)
Use pandas_datareader to obtain the historical stock information for Tesla from Jan 1, 2012 to Jan 1, 2017.

Note that you will encounter `ImmediateDeprecationError: Google finance has been immediately deprecated due to large breaks in the API without the introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.` while using `web.DataReader("TSLA", 'google', start, end)`. Alternatives to Google Finance include Alpha Vantage, Quandl, and IEX. Here I choose Yahoo Finance.

In [2]:
import pandas_datareader
import pandas_datareader.data as web
import datetime

In [4]:
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2017, 1, 1)
tesla = web.DataReader("TSLA", 'yahoo', start, end)

In [5]:
tesla.head()

                 High        Low       Open      Close   Volume  Adj Close
Date
2012-01-03  29.500000  27.650000  28.940001  28.080000   928100  28.080000
2012-01-04  28.670000  27.500000  28.209999  27.709999   630100  27.709999
2012-01-05  27.930000  26.850000  27.760000  27.120001  1005500  27.120001
2012-01-06  27.790001  26.410000  27.200001  26.910000   986300  26.910000
2012-01-09  27.490000  26.120001  27.000000  27.250000   897000  27.250000

In [6]:
tesla.drop('Adj Close', axis=1, inplace=True)

In [7]:
tesla.head()

                 High        Low       Open      Close   Volume
Date
2012-01-03  29.500000  27.650000  28.940001  28.080000   928100
2012-01-04  28.670000  27.500000  28.209999  27.709999   630100
2012-01-05  27.930000  26.850000  27.760000  27.120001  1005500
2012-01-06  27.790001  26.410000  27.200001  26.910000   986300
2012-01-09  27.490000  26.120001  27.000000  27.250000   897000

In [10]:
tesla.to_csv('datasets/tesla_stock.csv')

### Other car companies
Repeat the same steps to grab data for Ford and GM (General Motors).

In [12]:
ford = web.DataReader("F", 'yahoo', start, end)
gm = web.DataReader("GM", 'yahoo', start, end)

In [14]:
ford.drop('Adj Close', axis=1, inplace=True)

In [15]:
ford.to_csv('datasets/ford_stock.csv')

In [16]:
gm.drop('Adj Close', axis=1, inplace=True)

In [17]:
gm.to_csv('datasets/gm_stock.csv')

## Data visualization